<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumo Financeiro</title>
    <link rel="stylesheet" href="/css/financialSummary.css">
    <link rel="icon" href="/pics/save-money.png" type="image/png">
</head>
<body>
    <header>
        <h1>Resumo Financeiro</h1>
    </header>

    <main>
        <nav>
            <ul>
                <li><a href="/despesas">Despesas</a></li>
                <li><a href="/receitas">Receitas</a></li>
                <li><a href="/investimentos">Investimentos</a></li>
            </ul>
        </nav>
        <div class="sections-container">
            <div class="left-sections">
                <section>
                    <h2>Total Despesas</h2>
                    <p>R$ <%= totalExpenses.toFixed(2) %></p>
                </section>

                <section>
                    <h2>Total Receita</h2>
                    <p>R$ <%= totalIncome.toFixed(2) %></p>
                </section>
            </div>

            <div class="right-sections">
                <section>
                    <h2>Total Investido</h2>
                    <p>R$ <%= totalInvestments.toFixed(2) %></p>
                </section>

                <% 
                let availableToInvest = totalIncome - totalExpenses; 
                %>

                <% if (availableToInvest >= 0) { %>
                    <section>
                        <h2 id="available">Disponível para Investir:</h2>
                        <p>R$ <%= availableToInvest.toFixed(2) %></p>
                    </section>
                <% } else { %>
                    <section id="not-available">
                        <h2 id="not-available">Total em Débitos:</h2>
                        <p>R$ <%= availableToInvest.toFixed(2) %></p>
                    </section>
                <% } %>
            </div>
        </div>
    </main>

    <footer>
        <a href="https://www.linkedin.com/in/hewelbelmonte/" target="_blank">
            <p>© All rights reserved to Hewel Belmonte</p>
        </a>
    </footer>
</body>
</html>
