<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investimentos</title>
    <link rel="stylesheet" href="/css/pages.css">
    <link rel="icon" href="/pics/save-money.png" type="image/png">
</head>
<body>
    <h1>Investimentos</h1>

    <form action="<%= investimento ? '/investimentos/edit/' + investimento.id : '/investimentos/new' %>" method="POST">
        <h2><%= investimento ? 'Editar Investimento' : 'Adicionar Nova Investimento' %></h2>
        <label for="valor">Valor:</label>
        <input type="number" id="valor" name="valor" step="0.01" value="<%= investimento ? investimento.valor : '' %>" required>
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" value="<%= investimento ? investimento.descricao : '' %>" required>
        <button type="submit"><%= investimento ? 'Atualizar' : 'Adicionar' %></button>
    </form>

    <h2>Lista de Investimentos</h2>
    <ul>
        <% investimentos.forEach(d => { %>
            <li>
                <%= d.descricao %> - R$ <%= d.valor.toFixed(2) %>
                <a href="/investimentos/edit/<%= d.id %>">Editar</a>
                <form action="/investimentos/delete/<%= d.id %>" method="POST" style="display:inline;">
                    <button type="submit">Excluir</button>
                </form>
            </li>
        <% }); %>
    </ul>

    <a href="/" class="back-button">Voltar para o início</a>
</body>
</html>
